<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"; initial-scale=1.0;/>
    <title>@ViewData["Title"] GlobalGamesGS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/css2/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
		
		<div class="container">
		
			<div id="logo">
				<h1><span class="destaque">Global</span> Games Enterprise</h1>
			</div>
			
			<nav>

				 <ul>
					 <li class="nav-item">
					  <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
					 </li>
					 <li class="nav-item">
					 <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
					 </li>
					 <li class="nav-item">
					  <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a>
					 </li> 

                     @if (this.User.Identity.IsAuthenticated)
                            {
                                 <li class="nav-item">
                                     <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>                        
                                 </li>

                                 <li class="nav-item">
                                      <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                 </li>
                     }
                     else
                     {
                          <li class="nav-item">
                                  <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                     
                          </li>
                     }


				 </ul>

			</nav>

			
			
		</div>
		
		
	</header>












    
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
