@model GlobalGamesGS.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="Description" content="desenvolvimento de jogos e realidade virtual">
<meta name="Keywords" content="realidade virtual, criamos jogos, desenvolvemos jogos">
<title>Global Games | Sobre</title>
@*<link href="~/css2/style.css" rel="stylesheet" type="text/css">*@
</head>

<body>

	

    <div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="OldPassword">Current password</label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">New password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirm</label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />
                <a asp-action="ChangeUser" class="btn btn-success">Back to user</a>
            </div>
        </form>
    </div>
</div>






	<footer>
		<p>Global Games, Copyright &copy; 2017</p>
		
		
	</footer>
	
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
